[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-ollama = "*"
python-socketio = "==5.11.1"
python-engineio = "==4.9.0"
websockets = "==12.0"
fastapi = "==0.109.2"
uvicorn = "==0.27.1"
requests = "==2.32.4"
python-dotenv = "==1.0.0"
asyncio = "==3.4.3"
ollama = "==0.5.1"
transformers = "*"
langchain = "*"
langchain-huggingface = "*"
huggingface-hub = "*"
pydantic-settings = "*"
torch = "*"
sentencepiece = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.12"
